<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsg.app"
    android:installLocation="preferExternal"
    android:versionCode="6"
    android:versionName="@string/versionname" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.lsg.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lsg.app.permission.C2D_MESSAGE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".lib.LSGApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".setup.SetupAssistant"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.Settings"
            android:label="@string/settings" android:theme="@android:style/Theme.Light">
        </activity>
        <activity android:name="HelpAbout" >
        </activity>
        <activity
            android:name="SubjectList"
            android:label="@string/subjectlist" >
        </activity>
        <activity android:name=".settings.BlackWhiteList" >
        </activity>
        <activity
            android:name=".settings.SettingsAdvanced"
            android:label="@string/settings"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.lsg.app" />
            </intent-filter>
        </receiver>

        <service android:name=".lib.GCMIntentService" />
        <service
            android:name=".WorkerService"
            android:exported="false" />
        <service
            android:name=".DownloadService"
            android:exported="false" />

        <activity
            android:name="UpdateActivity"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity
            android:name="InfoActivity"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity
            android:name="OverlayHelp"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>