<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsg.app"
    android:versionCode="4"
    android:versionName="@string/versionname" android:installLocation="preferExternal">

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <!-- Only this application can receive the messages and registration result --> 
   <permission android:name="com.lsg.app.permission.C2D_MESSAGE" android:protectionLevel="signature" />
   <uses-permission android:name="com.lsg.app.permission.C2D_MESSAGE" />

   <!-- This app has permission to register and receive message -->
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".lsgapp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/vplan" android:name="VPlan"></activity>
        <activity android:label="@string/events" android:name="Events"></activity>
        <activity android:name="Settings" android:label="@string/settings"></activity>
        <activity android:name="HelpAbout"></activity>
        <activity android:label="@string/smvblog" android:name="SMVBlog"></activity>
        <activity android:label="@string/subjectlist" android:name="SubjectList"></activity>
        <activity android:name="BlackWhiteList"></activity>
        <activity android:name="SettingsAdvanced" android:label="@string/settings" android:theme="@android:style/Theme.Holo.Light"></activity>
        <receiver android:name="UpdateBroadcastReceiver" android:process=":remote" >
          <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
          <!-- Receive the actual message -->
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <category android:name="com.lsg.app" />
          </intent-filter>
          <!-- Receive the registration id -->
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
              <category android:name="com.lsg.app" />
          </intent-filter>
    </receiver>
    </application>

</manifest>